@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,
*::before,
*::after {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;

  --bg-blue-100: #ebf8ff;
  --bg-blue-500: #2F80ED;

  --bg-gray-800: #2d3748;
  --bg-gray-500: #a0aec0;
  --bg-gray-600: #718096;
  --bg-gray-700: #4a5568;
  --bg-gray-200: #edf2f7;
  --bg-gray-100: #f7fafc;

  --bg-white: #fff;
}

h3 {
  color: var(--bg-gray-700);
  font-size: 18px;
}