@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;

  --bg-blue-100: #ebf8ff;
  --bg-blue-500: #2f80ed;

  --bg-gray-800: #2d3748;
  --bg-gray-500: #a0aec0;
  --bg-gray-600: #718096;
  --bg-gray-700: #4a5568;
  --bg-gray-200: #edf2f7;
  --bg-gray-100: #f7fafc;

  --color-gray-2: #474747;
  --color-gray-3: #828282;
  --color-gray-4: #dbdbdb;
  --color-gray-5: #f6f8fb;

  --color-blue-1: #2f80ed;
  --color-blue-2: #97b2f4;

  --bg-white: #fff;
}

h3 {
  color: var(--color-gray-2);
  font-size: 18px;
}
